* {
    margin: 0;
    padding: 0;
}

/*seccion inicio*/

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inicio header {
    width: 100%;
    background-color: #000000;
}

#inicio header .contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: relative;
}

.contenido-header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.contenido-header nav ul {
    display: flex;
    list-style: none;
}

.contenido-header .logo {
    color: #e6ff0a;
    font-size: 15px;
}


.contenido-header nav ul li {
    text-align: center;
}

.contenido-header nav ul li i {
    display: block;
    color: #a8a8a8;
    margin-bottom: 10px;
}

.contenido-header nav ul li a {
    display: block;
    text-decoration: none;
    color: #fa8b42;
    margin: 0px 20px;
    padding: 10px 2vw; 
    /*espacio que abarca al pasar por encima el mouse*/
}

.contenido-header nav ul li a:hover {
    background-color: #f3f725;
    color: #000000;
}

/*icons*/
.contenido-header .icons a {
    display: inline-block;
    text-decoration: none;
    color: #fa8b42;
    padding: 10px 20px;
    border-radius: 30px;
}

.contenido-header .icons a:hover {
    color: #f3f725;
}



/* Dispositivos tablet (pantallas de 768px o menos) */
@media (max-width: 768px) {
    #inicio header .contenido-header {
        flex-direction: column;
        padding: 10px;
    }

    .contenido-header nav {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    .contenido-header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .contenido-header nav ul li {
        margin: 10px 0;
    }

    .contenido-header .icons {
        margin-top: 10px;
    }

}

/* Dispositivos móviles (pantallas de 480px o menos) */
@media (max-width: 480px) {
    .contenido-header nav ul li a {
        padding: 10px 10px;
        margin: 0px 5px;
    }

    .contenido-header .icons a {
        padding: 8px 10px;
    }


}
