
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff023;
}




nav ul {
    list-style: none;
    display: flex;
    gap: 50px; /* espacio entre las secciones */
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333; 
    padding: 13px 2vw;
}

nav ul li a:hover {
    background-color: #ff7e7e;
}

.icons {
    display: flex;
    gap: 20px; /* espacio entre los iconos */
}

.icons a {
    color: #333; 
    text-decoration: none;
    font-size: 20px; 
}

.icons a :hover{
    color: #ff7f7f; 
   
}
